@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1f242d;
}

a {
    color: white;
    text-decoration: none;
}

/* navbar styling */
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background-color: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards 1s;
    -webkit-animation: show-content 1.5s linear forwards 1s;
}

@keyframes show-content {
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 2Opx;
    font-weight: 500;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.navbar .items {
    transform: scale(3);
    color: white;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    background-color: transparent;
}

.navbar .items:hover {
    color: #7cf03d;
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
    cursor: pointer;
}

.navbar ul li:hover a,
.navbar ul li.active a {
    color: #7cf03d;
}
/* the end of navbar styling */

/* home styling */
.home {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 20px;
    padding: 60px 9% 0;
    height: 100vh;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards 1s;
    -webkit-animation: show-content 1.5s linear forwards 1s;
    border-bottom: 2px solid #7cf03d;
    overflow: hidden;
}
/* the animation is written before at line 35 ! */
.home-info h1 {
    font-size: 55px;
}

.home-info h2 {
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;
}

.home-info h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    width: fit-content;
    -webkit-text-stroke: .7px #7cf03d;
    animation: display-text 16s linear infinite calc((-4s) * var(--i));
    -webkit-animation: display-text 16s linear infinite calc((-4s) * var(--i));
}

@keyframes display-text {
    25% {
        display: none;
    }
    100% {
        display: none;
    }
}

.home-info h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0%;
    border-right: 2px solid #7cf03d;
    color: #7cf03d;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
    -webkit-animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
    10%{
        width: 0%;
    }
    100% {
        width: 0%;
    }

    70%{
        width: 100%;
    }    
    90% {
        width: 100%;
    }
}

.home-info p {
    font-size: 16px;
    margin: 10px 0;
}

.home .btn-sci {
    display: inline-flex;
    align-items: center; /* I can change it later! */
    margin-top: 30px;
}

.home-img .img-box {
    position: relative;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
    content: "";
    position: absolute;
    width: 50vw;
    height: 50vw;
    background: conic-gradient(transparent, transparent, transparent, #7cf03d);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
    -webkit-animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        rotate: 360deg;
    }
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1f242d;
    border: .1px solid #1f242d;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.home-img .img-box .img-item img {
    position: absolute;
    display: block;
    width: 100%;
    object-fit: cover;
    mix-blend-mode: lighten;
}
/* the end of home styling */

/* bars animation styling */
.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar {
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    animation: show-bars 1s ease-in-out calc(0.1s * var(--i)) forwards;
    -webkit-animation: show-bars 1s ease-in-out calc(0.1s * var(--i)) forwards;
}

@keyframes show-bars {
    90% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
}
/* the end of bars animation styling */

/* services styling */
.services {
    background-color: white;
}
/* the end of services styling */

/* contact styling */
.contact {
    position: relative;
    top: -20px;
    border-top: 2px solid #7cf03d;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards 1s;
    -webkit-animation: show-content 1.5s linear forwards 1s;
    color: white;
    background-color: #1f242d;
    overflow: hidden;
}
.contact .btn-sci {
    display: inline-flex;
    align-items: center; /* I can change it later! */
    margin-top: 30px;
}


.contact .btn-sci .sci {
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.contact .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.contact .btn-sci .sci a:hover {
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

.contact .title {
    margin: 10px;
    display: inline-flex;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.btn:hover {
    background-color: transparent;
    color: #7cf03d;
    box-shadow: none;
}
/* the end of contact styling */